@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Vazirmatn', sans-serif;
}



.map-container {
  height: 100%;
width: 100%;
}

body.modal-open {
  overflow: hidden !important;
  touch-action: none;
}
